<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ZoologicoCliente-4fff0a40-b56f-42b0-a1ac-a6e048084790;AttachDbFilename=|DataDirectory|\aspnet-ZoologicoCliente-4fff0a40-b56f-42b0-a1ac-a6e048084790.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        La pertenencia a ASP.NET está deshabilitada en esta plantilla. Visite el vínculo https://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        El perfil de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo https://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
          El rol de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo https://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
            Si la implementación se realiza en un entorno de nube con varias instancias de servidor web,
            debería cambiar el modo de estado de sesión de "InProc" a "Custom". Además, cambie también
            la cadena de conexión con el nombre "DefaultConnection" para conectarse a una instancia de
            SQL Server (incluidos SQL Azure y SQL Compact) en lugar de conectarse a SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_AnimalesPortBinding" />
        <binding name="WS_VeterinariosPortBinding" />
        <binding name="WS_CuidadoresPortBinding" />
        <binding name="WS_HabitadPortBinding" />
        <binding name="WS_RevisionesPortBinding" />
        <binding name="WS_ExpedientesPortBinding" />
        <binding name="WS_ReportesPortBinding" />
        <binding name="WS_CuidaPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ZoologicoServer/WS_Animales"
        binding="basicHttpBinding" bindingConfiguration="WS_AnimalesPortBinding"
        contract="WSAnimales.WS_Animales" name="WS_AnimalesPort" />
      <endpoint address="http://localhost:8080/ZoologicoServer/WS_Veterinarios"
        binding="basicHttpBinding" bindingConfiguration="WS_VeterinariosPortBinding"
        contract="WSVeterinarios.WS_Veterinarios" name="WS_VeterinariosPort" />
      <endpoint address="http://localhost:8080/ZoologicoServer/WS_Cuidadores"
        binding="basicHttpBinding" bindingConfiguration="WS_CuidadoresPortBinding"
        contract="WSCuidadores.WS_Cuidadores" name="WS_CuidadoresPort" />
      <endpoint address="http://localhost:8080/ZoologicoServer/WS_Habitad"
        binding="basicHttpBinding" bindingConfiguration="WS_HabitadPortBinding"
        contract="WSHabitat.WS_Habitad" name="WS_HabitadPort" />
      <endpoint address="http://localhost:8080/ZoologicoServer/WS_Revisiones"
        binding="basicHttpBinding" bindingConfiguration="WS_RevisionesPortBinding"
        contract="WSRevisiones.WS_Revisiones" name="WS_RevisionesPort" />
      <endpoint address="http://localhost:8080/ZoologicoServer/WS_Expedientes"
        binding="basicHttpBinding" bindingConfiguration="WS_ExpedientesPortBinding"
        contract="WSExpedientes.WS_Expedientes" name="WS_ExpedientesPort" />
      <endpoint address="http://localhost:8080/ZoologicoServer/WS_Reportes"
        binding="basicHttpBinding" bindingConfiguration="WS_ReportesPortBinding"
        contract="WSReportes.WS_Reportes" name="WS_ReportesPort" />
      <endpoint address="http://localhost:8080/ZoologicoServer/WS_Cuida"
        binding="basicHttpBinding" bindingConfiguration="WS_CuidaPortBinding"
        contract="WSCuida.WS_Cuida" name="WS_CuidaPort" />
    </client>
  </system.serviceModel>
  <appSettings/>
</configuration>